
body {
    margin: 0;
    padding: 0;
    background-color: #494949;
    color: #d5d5d5;
    font: 300 100% Lato;
}



#print_to_console {
    text-align: right;
    font-size: 0.8em;
    padding: 0.2em 0.4em 0 0;
}

div.center{
    text-align: center;
    font-size: 4em;
    padding: 1em 0 1em 0;
    text-shadow: 1px 1px 1px #212121;
    font-weight: 800;
}
