body{
    font: 16px Avenir, Calibri, Arial;
    background-color: gray;
    color: #444;
}

#div1{
    color:red;
}

span.emphasize{
    font: 300 22px Avenir;
    
    font-weight: bold;
    font-size: 22px;
    font-family: Avenir;
    color: #ff0000;
}